@import './styles/input_style.scss';
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
} 
.inputs input{
  margin: 0 8px;
}
.cont{
  @import "./styles/text.scss";
  margin: 15px 20px;
}